Generated_files/ani_frames
Generated_files/sfc_obs
Generated_files/attributes*
Generated_files/colortable*
Generated_files/stored_settings.pkl
Generated_files/cases_lists.pkl
Generated_files/saved_choices.pkl
Input_files/Maps_unused
Input_files/Layer_2
Input_files/Layer_3
Input_files/Layer_4
Input_files/Shapefiles/All
Python_files/testing/French_radars/
Python_files/testing/unet-vda-main
Python_files/util/download_nexrad/tmp*
Python_files/temp*
__pycache__
dist
build
*egg-info
Python_files/NLradar.lnk
